package templates

import "fmt"
import "regox.dev/mvp/generated"

templ ShopPage(data generated.ShopPageData) {
  <main>
    <h1>Shop</h1>
    <ul>
      for _, p := range data.Products {
        <li>
          { fmt.Sprint(p.Title) }
          —
          { fmt.Sprintf("$%.2f", p.Price) }
          if !p.InStock {
            <span>(Out of Stock)</span>
          }
        </li>
      }
    </ul>
  </main>
}
